{% extends 'base.html.twig' %}

{% block title %}Laisser un Avis{% endblock %}

{% block body %}
    <h2>Laisser un avis pour {{ terrain.localisation }}</h2>

    {{ form_start(form) }}
        {{ form_row(form.note) }}
        {{ form_row(form.commentaire) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
