{% extends 'base.html.twig' %}

{% block title %}Détails de la Location{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Détails de la Location</h1>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td>{{ location.id }}</td>
        </tr>
        <tr>
            <th>Terrain associé</th>
            <td>{{ location.terrain.localisation }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ location.DateDebut|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ location.DateFin|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Prix de location</th>
            <td>{{ location.PrixLocation }}</td>
        </tr>
        <tr>
            <th>Paiement effectué</th>
            <td>{{ location.PaiementEffectue ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Mode de paiement</th>
            <td>{{ location.ModePaiement }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ location.Statut }}</td>
        </tr>
    </table>
    <div class="mt-3">
        <a href="{{ path('location_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-warning">Modifier</a>
    </div>
</div>
{% endblock %}
